In [1]:
import pandas as pd

def csv_updator(data):
    #print(data)
    data.to_csv('DATA.csv', mode='a',index=False,header=False)
    print('Done')
    
df = pd.DataFrame([[1,2,3],[1,2,3],[1,2,3]],columns=['PROTEIN_NAME', 'UID', 'ABSTRACT'])
csv_updator(df)

Done

In [2]:
df

   PROTEIN_NAME  UID  ABSTRACT
0             1    2         3
1             1    2         3
2             1    2         3

In [9]:
d=pd.read_csv("DATA.csv")

In [10]:
d

   1  2  3
0  1  2  3
1  1  2  3

In [6]:
d

   1  2  3
0  1  2  3
1  1  2  3

In [21]:
data_frame = pd.DataFrame(columns=['PROTEIN_NAME', 'UID', 'ABSTRACT'])
data_frame.to_csv('DATA.csv',index=False)
print('Done')

Done